/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

#mapa-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c3ddec;
    overflow: hidden;
    touch-action: none;
}

#svg-map {
    width: 100%;
    height: 100%;
    cursor: grab;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.selected {
    fill: #d89339 !important; /* Cambia esto al color que deseas para el relleno de los concellos seleccionados */
}

#search-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#concellos-search {
    margin-bottom: 10px;
    border-radius: 8px;
}

.concellos-list {
    max-height: 200px;
    overflow-y: auto;
}

.concellos-list li {
    list-style: none;
    margin-bottom: 5px;
    padding: 8px;
    background: #e9ecef;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.concellos-list li:hover {
    background-color: #ced4da;
}

#contador-concellos {
    position: absolute;
    top: calc(100% + 10px); /* Justo debajo del campo de ingreso */
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    z-index: 1000;
    width: 100%; /* Ajusta según el tamaño del contenedor padre */
}

