/* svg.css */

/* Estilos predeterminados para la apariencia original del mapa */
#mapa-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ebecec;
    overflow: hidden;
    touch-action: none;
}

/* Estilos para los concellos no seleccionados */
.svg-incorrect {
    fill: #ffffff;           /* Color de relleno por defecto */
    stroke: #696969;         /* Color del borde por defecto */
    stroke-width: 0.9;  /* Ancho del borde por defecto */
    stroke-opacity: 1;       /* Opacidad del borde */
    stroke-linejoin: round;  /* Forma de las uniones de las líneas (redondeadas) */
    stroke-linecap: round;   /* Forma de los extremos de las líneas (redondeadas) */
}

/* Estilos para los concellos seleccionados */
.selected {
    fill: #6da4d8 !important; /* Color de relleno para los concellos seleccionados */
    stroke: #ebecec !important;          /* Color del borde cuando el concello está seleccionado */
    stroke-width: 0.9 !important;   /* Ancho del borde para concellos seleccionados */
    stroke-opacity: 1 !important;        /* Opacidad del borde */
    stroke-linejoin: round !important;   /* Mantiene las uniones redondeadas */
    stroke-linecap: round !important;    /* Mantiene los extremos redondeados */
}
